body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.app-header {
    text-align: center;
}

.app-body {
    display: flex;
    justify-content: center;
}

.tools-container {
    width: 200px;
    background-color: bisque;
}

.canvas-container {
    width: calc(100% - 500px);
    max-width: 1500px;
    min-width: 200px;
    background-color: aquamarine;
}

.canvas {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
